<style>
    body {
        line-height: 1;
        width: 100%;
        height: auto;
        top: 0;
        display: flex;
        flex-direction: column;
        margin: auto;
        font-size: 14px;
    }

    h1 {
        display: block;
        margin-block-start: 0;
        margin-block-end: 0;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        font-weight: bold;
    }

    p {
        display: block;
        margin-block-start: 0;
        margin-block-end: 0;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
    }

    .contentPDF {
        background-image: url("{background}");
        background-size: cover;
        background-repeat: no-repeat;
        width: 1190px;
        height: 792px;
        word-wrap: break-word;
        line-height: 1;
        display: block;
        padding: 0;
    }

    strong {
        font-weight: bold;
        word-wrap: break-word;
    }

    img {
        overflow-clip-margin: content-box;
        overflow: clip;
    }
</style>
<div class="contentPDF">
    {content}
</div>