<p>Xin chào {TenHocVien}</p>
<p>Chúng tôi xin chúc mừng bạn đã hoàn thành khóa học {TenChungChi}. 
    Bằng cách hoàn thành khóa học này, bạn đã có những kiến thức và kỹ năng cần thiết để phát triển sự nghiệp của mình và trở thành một chuyên gia trong lĩnh vực này.</p>
<p>Chứng chỉ của bạn đã được chuẩn bị và sẵn sàng để được cấp cho bạn. Tôi xin đính kèm chứng chỉ của bạn trong email này.</p>
<p>Nếu bạn cần bất kỳ thông tin bổ sung nào hoặc có câu hỏi, xin vui lòng liên hệ với chúng tôi theo địa chỉ email này. Chúc mừng bạn và chúc bạn thành công trong sự nghiệp của mình.</p>
<p>Trân trọng,</p>
<p>{TenToChuc}</p>
<a href="{PDFUrl}">
    <img src="{DomainAPI}/Upload/Mau/PDFicon.jpg" width="100" style="border:1px solid #808080;border-radius:2px" />
</a>


